<main role="main" class="inner cover">
  <div class="row">
    <div class="col-md-4">
<!--      <img src="https://cdn.europosters.eu/image/1300/posters/harry-potter-7-hermione-i8690.jpg" width="300" alt="Profile Image">-->
      <%= image_tag "profile.jpg", width: 300, alt: "Profile Image" %>
    </div>
    <div class="col-md-8">
      <h1 class="cover-heading">Pages#about</h1>
      <p class="lead">Find me in app/views/pages/about.html.erb.</p>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
      </p>
    </div>
  </div>
</main>