<h1>Pages#contact</h1>

<p><%= number_to_phone "123456789" %></p>

<p><%= number_to_currency "150" %></p>

<p><%= number_to_percentage "35.2" %></p>

<p><%= number_with_delimiter "126972394780235" %></p>
