<main role="main" class="inner cover row">
  <div class="col-md-6">
    <h1 class="cover-heading">Pages#contact</h1>
    <p><%= number_to_phone "123456789", class: 'lead' %></p>
    <p class="lead">Find me in app/views/pages/contact.html.erb.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2689.1254681178175!2d-122.33425838373125!3d47.
    62369229478904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54901530bfd73c3f%3A0xcfab273599cb50d0!2s535%20
    Pontius%20Ave%20N%2C%20Seattle%2C%20WA%2098109!5e0!3m2!1sen!2sus!4v1588296862429!5m2!1sen!2sus" width="450"
            height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
</main>